/* .mat-expanded {
  background-color:lightgrey;
} */

.spacer {
  margin: 20px;
}
mat-icon {
  height: 18px;
}

.mat-icon {
  font-size: 18px;
  vertical-align: middle;
}
.folder-link {
  text-decoration: none;
}

.file-link {
  text-decoration: none;
}

