<mat-accordion *ngIf="items">
  <div *ngFor="let i of folders">
      <mat-expansion-panel [expanded]="checkIfItemShouldBeOpen(i.path)" (click)="$event.stopPropagation()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <folder-tree [items]="i.folders" [treeLevel]="(++treeLevel)" [baseRoot]="baseRoot" [queryParams]="getQueryParams"></folder-tree>
      </mat-expansion-panel>
  </div>

  <div *ngIf="folders.length && links.length" class="spacer"></div>

  <div *ngFor="let i of links">
    <a [routerLink]="[i.relativeLink]" [queryParams]="getQueryParams" queryParamsHandling="merge" class="file-link">
      <div class="leaf">
          <mat-icon>{{getFileIcon(i.relativeLink)}}</mat-icon>
          <span>{{i.name}}</span>
      </div>
    </a>
  </div>
</mat-accordion>
