<header class="header">
  <nav class="navbar-header-primary-container">
    <mat-toolbar class="navbar navbar-primary mat-elevation-z10" color="primary">
      <div>
          <i class="hamburger icon-pr" fxFlex fxLayout>
            <mat-icon (click)="sNav.first.toggle()">menu</mat-icon>
          </i>
      </div>
      <div>
        <a href="/" class="archor-logo" fxFlex fxLayout>
          <div>
            <span class="helper"></span>
            Guidebook<i class="secondary-color">me</i>
          </div>

        </a>
      </div>


      <div *ngIf="showOptionsBar" id="language-options" fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li *ngIf="showLanguageOptions">
            <button fxHide.lt-md mat-button [matMenuTriggerFor]="languagemenu" matTooltip="Choose language">
              <mat-icon>more_vert</mat-icon>
              <span>Language
                <small>({{languageOptions.selectedName}})</small>
              </span>
            </button>
            <button matTooltip="Select Language" fxHide.gt-sm mat-icon-button [matMenuTriggerFor]="languagemenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #languagemenu="matMenu">
              <button mat-menu-item *ngFor="let lang of languageOptions.items" (click)="onSelectingLanguage(lang.value)">
                {{lang.text}}
              </button>
            </mat-menu>
          </li>
          <li *ngIf="showVersionOptions">
            <button fxHide.lt-md mat-button [matMenuTriggerFor]="versionmenu" matTooltip="Choose version">
              <mat-icon>more_vert</mat-icon>
              <span>Version
                <small>({{versionOptions.selectedName}})</small>
              </span>
            </button>
            <button matTooltip="Select version" fxHide.gt-sm mat-icon-button [matMenuTriggerFor]="versionmenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #versionmenu="matMenu">
              <button mat-menu-item *ngFor="let version of versionOptions.items" (click)="onSelectingVersion(version.value)">
                {{version.text}}
              </button>
            </mat-menu>
          </li>

        </ul>
      </div>
    </mat-toolbar>
  </nav>
</header>

<section class="middle" *ngIf="currentNode">
  <mat-drawer-container class="container">
    <mat-drawer #sidenav role="navigation" class="left-sidebar mat-elevation-z8" [opened]="!isScreenSmall" [mode]="isScreenSmall ? 'over' : 'side'">
      <mat-accordion>
          <folder-tree [items]="currentTreeView" [tabIndex]="tabIndex" [treeLevel]="0" [baseRoot]="getDocumentsBaseRoot()" [queryParams]="getQueryParams"></folder-tree>
      </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
      <main class="content">
        <mat-tab-group (selectedTabChange)="onSelectingTab($event.index)" [selectedIndex]="tabIndex">
          <mat-tab *ngFor="let item of getCurrentNodeDocuments" [label]="getNameByusedConventions(item.name)">
            <main-content [currentMarkdown]="currentDocumentContent" ></main-content>
          </mat-tab>
        </mat-tab-group>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</section>

<footer class="footer">
</footer>
