<header class="header">
  <nav class="navbar-header-primary-container">
    <mat-toolbar class="navbar navbar-primary mat-elevation-z10" color="primary">
      <div>
          <i class="hamburger pr-20" fxFlex fxLayout>
            <mat-icon (click)="sNav.first.toggle()">menu</mat-icon>
          </i>
      </div>

      <div>
        <!-- [TWEAKING POINT] - change the element according to your app context -->
        <a href="/" class="archor-logo" fxFlex fxLayout>
            <div id="home-page-link">
              <span>Guide</span> <i class="secondary-color">mebook</i>
            </div>
        </a>
      </div>


      <div *ngIf="showOptionsBar" id="language-options" fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout  class="navigation-items">
          <li *ngIf="showLanguageOptions">
            <button mat-button [matMenuTriggerFor]="languagemenu" matTooltip="Choose language">
              <mat-icon>language</mat-icon>
              <span *ngIf="!isMobile" class="pl-5">{{languageTranslation}}
                <small>({{languageOptions.selectedName}})</small>
              </span>
            </button>
            <mat-menu #languagemenu="matMenu">
              <button mat-menu-item *ngFor="let lang of languageOptions.items" (click)="onSelectingLanguage(lang.value)">
                {{lang.text}}
              </button>
            </mat-menu>
          </li>
          <li *ngIf="showVersionOptions">
            <button mat-button [matMenuTriggerFor]="versionmenu" matTooltip="Choose version">
              <mat-icon>layers</mat-icon>
              <span *ngIf="!isMobile" class="pl-5">{{versionTranslation}}
                <small>({{versionOptions.selectedName}})</small>
              </span>
            </button>
            <mat-menu #versionmenu="matMenu">
              <button mat-menu-item *ngFor="let version of versionOptions.items" (click)="onSelectingVersion(version.value)">
                {{version.text}}
              </button>
            </mat-menu>
          </li>

        </ul>
      </div>
    </mat-toolbar>
  </nav>
</header>

<section class="middle" *ngIf="currentNode">
  <mat-drawer-container class="container">
    <mat-drawer #sidenav role="navigation" class="left-sidebar mat-elevation-z8" [opened]="!isMobile" [mode]="isMobile ? 'over' : 'side'">
      <mat-accordion>
          <folder-tree [items]="currentTreeView" [tabIndex]="tabIndex" [treeLevel]="0" [baseRoot]="getDocumentsBaseRoot()" [queryParams]="getQueryParams"></folder-tree>
      </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
      <main class="content">
        <mat-tab-group (selectedTabChange)="onSelectingTab($event.index)" [selectedIndex]="tabIndex">
          <mat-tab *ngFor="let item of getCurrentNodeDocuments" [label]="getTranslation(item.rawNameWithoutFileExtension)">
            <main-content [currentMarkdown]="currentDocumentContent" ></main-content>
          </mat-tab>
        </mat-tab-group>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</section>

<footer class="footer">
</footer>
