@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');
@import '~ngx-toastr/toastr.css';

// SETUP FONT
$font-family: '"Open Sans", "Roboto", "Segoe UI", sans-serif';
$general-typography: mat-typography-config($font-family: $font-family);
$secondary-typography: mat-typography-config($font-family: 'Roboto, sans-serif');
@include mat-core($general-typography);

// SETUP THEME
$mainColor:#313340;
$secondaryColor:#e78200;
$secondaryHoverColor:#f3c180;
$secondaryActiveColor:#dd6500;

$navbar-primary-height: 64px;
$footer-height: 64px;
$sidenav-width:350px;

$md-primary: ( 50: #e6e7e8, 100: #c1c2c6, 200: #9899a0, 300: #6f7079, 400: #50525d, 500: #313340, 600: #2c2e3a, 700: #252732, 800: #1f202a, 900: #13141c, A100: #6278ff, A200: #2f4cff, A400: #0024fb, A700: #0020e1, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #ffffff, A400: #ffffff, A700: #ffffff, ));
$md-secondary: ( 50: #fcf0e0, 100: #f8dab3, 200: #f3c180, 300: #eea84d, 400: #eb9526, 500: #e78200, 600: #e47a00, 700: #e06f00, 800: #dd6500, 900: #d75200, A100: #fffefe, A200: #ffdccb, A400: #ffb998, A700: #ffa77f, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$custom-primary: mat-palette($md-primary);
$custom-accent: mat-palette($md-secondary);
$custom-theme: mat-light-theme( $custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);
.mat-ink-bar {
  background-color: mat-color($custom-accent) !important;
}
html,
body {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
body * {
  text-align: left;
}
a {
  color: $secondaryColor;
  :hover {
    color: $secondaryHoverColor;
  }
  :active {
    color: $secondaryActiveColor;
  }
}
h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2.5rem;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2rem;
}
h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  ;
  font-weight: 500;
  font-size: 1.6rem;
}
h4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}
h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}
h6 {
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1rem;
}
table {
  margin: 0;
  border-collapse: collapse;
}
table caption {
  padding-top: 0.5rem;
  caption-side: bottom;
  text-align: right;
  font-style: italic;
}
table td, table th{
  border: 0 !important;
}
thead tr {
  border-bottom: 2px solid $secondaryColor;
}
tfoot tr {
  border-bottom: none;
  border-top: 1px solid #fafafa;
  font-weight: bolder;
}
tbody tr {
  border-bottom: 1px solid #fafafa;
  background-color: #FFF !important;
}
tbody tr:hover, tfoot tr:hover {
  background-color: #e6e7e8 !important;
}
td, th {
  padding: 0.3rem 1rem;
}
th {
  font-weight: bolder;
}
blockquote {
  margin: 3rem;
}

// css - Structure
header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
section.middle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $navbar-primary-height;
  bottom: 0;
  left: 0;
  right: 0;
}
.left-sidebar {
  flex: 1;
}
main.content {
   padding: 18px 40px;
}
mat-drawer-container, mat-drawer-content, mat-drawer {
  height:  100%;
}

// nav.navbar-header-primary-container {}
// nav.navbar-header-secondary-container {}
// footer.footer {}
// .navbar-navbar-primary {}
// .navbar-navbar-secondary {}
// .navbar {}
// .container {}

// css - Design
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hamburger {
  cursor: pointer;
  color: lightgrey;
  :hover {
    color:#e78200;
  }
}
.icon-pr {
  display: inline-block;
  padding-right:20px;
}
.capitalize {
  text-transform: capitalize;
}
.archor-logo {
  text-decoration: none;
  color: lightgrey;
}

// Guidebookme specific classes
.secondary-color {
  color: $secondaryColor;
  font-weight: bolder;
}

// Toastr alerts customization
.toast {
  background-image: none !important;
  background-color: $secondaryColor;
  width: 50% !important;
}
.toast-container {
  font-family: '"Open Sans", "Roboto", "Segoe UI", sans-serif';
}
.toast-top-center {
  top: 8px;
  height: 32px;
  right: 0;
  width: 100%;
  opacity: 0.7;
}

